services:
  frontend:
    build:
      context: ./Front-end
      dockerfile: Dockerfile
    ports:
      - "80:80"
    restart: always
    depends_on:
      - backend
    networks:
      - app-network

  backend:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - DATABASE_URL=file:./data/dev.db
      - PORT=3000
      - CORS_ORIGIN=http://localhost
      - NODE_ENV=production
    volumes:
      - ./Backend/data:/usr/src/app/data
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge